.Links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 50vh 10% 0 10%;
}

.Links a {
  background-color: gray;
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
  color: white;
}