body {
  padding: 0;
  background-color: #1d2025;
}

.MoviesWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Movies {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.Movies h3, p {
  color: white;
  margin: 0;
}

.Movies img {
  width: 250px;
}

.Movies a {
  text-decoration: none;
  color: white;
  width: auto;
}

.Movies div {
  margin-bottom: 40px;
}