.Movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.Movie p, h1 {
  margin: 0;
  margin-left: 5%;
}

.Movie h1 {
  margin-bottom: 10px;
}

.Movie video {
  height: 50vh;
  width: auto;
}