* {margin: 20; padding: 0; background-color: #1d2025;}

.moviesDiv{
  margin: 20px;
  padding:15;
}

.unList{
  list-style-type: none;
  width: 500px;
}

h3 {
  color: #839F96;
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
}

.movieList img {
  float: left;
  margin: 0 15px 0 0;
}

.movieList {
  margin-bottom: 40px;
}

.movieList a {
  text-decoration: none;
}

.movieList p {
  color: #839F96;
  font: 200 12px/1.5 Georgia, Verdana, serif;
}

.movieList{
  padding: 10px;
  overflow: auto;
}

.movieList:hover {
  padding: 20;
  background: #4B5F7F;
  cursor: pointer;
}